{% extends 'base.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block body %}
    <article class="legal-text">
        <h1>Impressum</h1>

        <p>
            Philipp Küchau<br>
            Philipp Küchau Webentwicklung<br>
            Wilhelm-Blos-Str. 76<br>
            12623 Berlin
        </p>

        <h2>Kontakt</h2>
        <p>
            Telefon: +49 30 81486878<br>
            E-Mail: p.kuechau@gmx.de
        </p>

        <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    </article>
{% endblock %}
